
<a href="https://colab.research.google.com/github/Argentan/DMA_LAB2/blob/master/tutoriales/03_manejo_de_datos-pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Libreria Pandas

Pandas es la libreria mas utilizada para la manipulación de datos, utiliza series y dataframes que son estrtucturas de datos columnares, de una o dos dimensiones

In [1]:
import pandas as pd

## Series

Son columnas de datos con indices

In [ ]:
obj = pd.Series([4, 7, -5, 3])
obj

In [ ]:
animales = ['Tortuga', 'Zorro', 'Paloma', 'Elefante', "Zorro"]
tipo = ['reptil', 'mamífero', 'ave', 'mamífero', 'mamífero' ]
obj = pd.Series(tipo, index=animales)
obj

In [ ]:
animales = ['Tortuga', 'Zorro', 'Paloma', 'Elefante', "Zorro"]
tipo = ['reptil', 'mamífero', 'ave', 'mamífero', 'mamífero' ]
obj = pd.Series(tipo)
obj.index = animales
obj

In [ ]:
obj["Tortuga"]

In [ ]:
obj[0]

In [ ]:
obj.sort_values()[0]

In [ ]:
obj.sort_values()["Tortuga"]

## DataFrames

Son estructuras de dos dimensiones, pueden pensarse como la contatenación horizontal de series.

In [ ]:
d = {'tipo_vivienda': ['casa', 'departamento'],
     'm2': [125, 59],
     'Barrio': ['San Martin', 'Florida'],
     'Precio (kUSD)': [200, 130]
    }
df = pd.DataFrame(data=d, index=["casa1", "casa2"])
df

## Lectura de archivos de datos


Pandas soporta la lectura de una amplia cantidad de formatos ([más info](http://pandas.pydata.org/pandas-docs/stable/io.html)): 

- read_csv
- read_excel
- read_hdf
- read_sql
- read_json
- read_msgpack (experimental)
- read_html
- read_gbq (experimental)
- read_stata
- read_sas
- read_clipboard
- read_pickle

Vamos a empezar a probar con una dataset publicado para una competencia de kaggle: [Titanic: Machine Learning from Disaster](https://www.kaggle.com/c/titanic/data).

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/Argentan/DMA_LAB2/master/data/titanic.csv", index_col="PassengerId")

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.columns

In [ ]:
data.dtypes

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.shape

In [ ]:
data.size

In [ ]:
data.Pclass

In [ ]:
data.Pclass.unique()

In [ ]:
data.Pclass.value_counts()

In [ ]:
data.Pclass.nunique()

## Tipos de Indexado

Hay varias formas de seleccionar un subconjunto de los datos:

- Como las listas o arrays, por posición.
- Como los diccionarios, por llave o etiqueta.
- Como los arrays, por máscaras de verdadero o falso.
- Se puede indexar por número, rango o lista (array)
- Todos estos métodos pueden funcionar subconjunto como en las columnas


## Reglas Básicas

1. Se usan corchetes (abreviatura para el método `__getitem__`) para seleccionar columnas de un `DataFrame`

    ```python
    >>> df[['a', 'b', 'c']]
    ```

2. Se usa `.iloc` para indexar por posición (tanto filas como columnas)

    ```python
    >>> df.iloc[[1, 3], [0, 2]]
    ```
    
3. Se usa `.loc` para indexar por etiquetas (tanto filas como columnas)

    ```python
    >>> df.loc[["elemento1", "elemento2", "elemento3"], ["columna1", "columna2"]]
    ```

In [ ]:
data.__getitem__("Name") == data["Name"]

In [ ]:
data["Name"]

In [ ]:
data.loc[[1], ["Name", "Sex"]]

In [ ]:
data.loc[[1, 2, 3]]

In [ ]:
data.loc[[1, 2, 3], "Name"]

In [ ]:
data.loc[1, "Survived"]

In [ ]:
temp = data.loc[:, ["Name", "Sex"]]
temp.loc[1, "Name"] = "Rafa"
temp

In [ ]:
data.loc[1, "Name"], temp.loc[1, "Name"]

In [ ]:
temp = data.copy()
temp.index = ["pasajero_nro_" + str(i) for i in temp.index]
temp.index.name =data.index.name
temp

In [ ]:
data.loc[1]

In [ ]:
data.loc["1"]

In [ ]:
temp.loc[["pasajero_nro_1", "pasajero_nro_2", "pasajero_nro_3"], ["Name", "Sex"]]

In [ ]:
temp.iloc[[1, 2, 3], [2, 3]]

In [ ]:
del temp

In [ ]:
data.loc[:3, :"Sex"]

In [ ]:
data.sort_values("Name").loc[:3]

## Calculo de columnas nuevas

In [ ]:
temp = data[["Name"]].copy()
temp.OtroNombre = ["OTRO_" + n for n in data.Name]
temp

In [ ]:
temp.OtroNombre[:10]

In [ ]:
temp["OtroNombre"] = ["OTRO_" + n for n in data.Name]
temp

In [ ]:
del temp

## Filtrado

In [ ]:
data["SibSp"] > 0

In [ ]:
data[data["Age"] > 18]

In [ ]:
data.select_dtypes("float")

### Funciones comunes

Pandas ya viene con una cantidad de funciones incorporadas, por ejemplo:

* sum
* mean
* std
* var
* cumsum
* value_counts()

In [ ]:
data.Age.mean()

In [ ]:
data.mean()

In [ ]:
data.sum()

In [ ]:
data.select_dtypes("float").sum(axis=1)

In [ ]:
data.Age.cumsum()

In [ ]:
data.isnull().sum()

In [ ]:
data.Survived.value_counts()

In [ ]:
data.Survived.value_counts(True)

In [ ]:
data.Survived.value_counts(1)

### Ejercicio

1. Mostrar las primeras 16 files de data

In [4]:
data.iloc[:16]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S


2. ¿Cómo se llama el pasajero 881?

In [6]:
data.loc[881, "Name"]

'Shelley, Mrs. William (Imanita Parrish Hall)'


3. Calcular una columna numFam que sea la suma de la cantidad de familiares en el barco

In [7]:
data['numFam'] = data['SibSp']+data['Parch']


4. Encontrar la edad media de los sobrevivientes

In [12]:
data[data['Survived'] == 1]['Age'].mean()

28.343689655172415